*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    padding: 0 1rem;
}

.header{
    margin: 2rem 0 1rem 0;
}

.header .header-tittle{
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
}

.box{
    float: left;
    padding: 1rem;
}


.box .box-info{
    border: 1px solid black;
    position: relative;
    background:lightgrey;
}

.box .box-info .box-tittle{
    border: 1px solid black;
    position: absolute;
    width: 150px;
    top: -1px;
    right: -1px;
    text-align: center;
    font-size: 1.25em;
}

.tittle-rose{
    background: rgb(240, 168, 180);
}

.tittle-red{
    background: rgb(207, 55, 55);
    color: white;
}

.tittle-beige{
    background: rgb(245, 211, 154);
}

.box .box-info .content{
    padding: 3rem .5rem .5rem .5rem;
    font-weight: bold;
}


@media (min-width: 992px){
    .box{
        width: 33.33%;
    }
}


@media (min-width: 768px) and (max-width: 991px){

    .box{
        width: 50%;
    }

    .box-3{
        width: 100%;
        clear: both;
    }

}

@media (max-width: 767px){

    .box{
        float: none;
        width: 100%;
    }

}